#canvas1{
    border: 5px solid black;
    position :absolute;
    top:50%;
    left: 50%;
    width :600px;
    height:600px;
    transform: translate(-50%,-50%);
    background-color: rgba(183, 181, 177, 0.829);
    border-radius: 30px;
    
    
}